.container {
    width: 1240px;
    margin: 0 auto;
}

/* Grid */

.grid {
    display: grid;
}

.column-2 {
    grid-template-columns: repeat(2, 1fr);
}

.column-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gap-100 {
    gap: 100px;
}

/* Flex */

.flex {
    display: flex;
}

.flex-1 {
    flex-grow: 1;
}
.flex-direction {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

/* Typography */

/* Weight */
.font-bold {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-600 {
    font-weight: 600;
}

.font-500 {
    font-weight: 500;
}

.font-400 {
    font-weight: 400;
}

/* Fonts */
.font-banner {
    font-family: var(--fontBanner);
}

.font-courses {
    font-family: var(--fontCourses);
}

/* Size */
.text-lg {
    font-size: 60px;
    line-height: 73px;
}

.text-bg {
    font-size: 48px;
    line-height: 65px;
}

.text-md {
    font-size: 32px;
}

.text-sm {
    font-size: 24px;
}

.text-xs {
    font-size: 16px;
}

/* Color */
.text-primary {
    color: var(--colorPrimary);
}

.text-darkgreen {
    color: var(--colorDarkgreen);
}

.text-gray {
    color: var(--colorGray);
}

.text-lightgray {
    color: var(--colorGray);
    opacity: 0.8;
}

.text-white {
    color: white;
}

/* Center text */
.text-center {
    text-align: center;
}

/* Buttons & Input */

.btn-solid {
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}

.btn-solid:hover {
    background-color: rgba(27, 53, 61, 0.9);
    transform: translateY(1px);
}

.btn-regular {
    border: 1px solid var(--colorDarkgreen);
    transition: all 0.2s ;
}

.btn-regular:hover {
    background-color: var(--colorDarkgreen);
    color: #fff;
}

.input-border {
    border: 1px solid var(--colorInputBorder);
}

.radius-5 {
    border-radius: 5px;
}

.radius-10 {
    border-radius: 10px;
}

/* Backgrounds */

.bg-white {
    background-color: white;
}

.bg-input {
    background-color: var(--colorInput);
}

.bg-darkgreen {
    background-color: var(--colorDarkgreen);
}

/* Margins & Paddings */

.mt-100 {
    margin-top: 100px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-40 {
    padding-bottom: 40px;
}